language: python
python:
  - '3.6'
addons:
  ssh_known_hosts: test.mul.space


script:
  - echo "dupa"

before_deploy:
  - openssl aes-256-cbc -K $encrypted_33fe656a832f_key -iv $encrypted_33fe656a832f_iv -in travis-key.enc -out /tmp/travis-key -d
  - eval "$(ssh-agent -s)"
  - chmod 600 /tmp/travis-key
  - scp -i /tmp/travis-key ./deploy.sh root@test.mul.space:~/travis-test/deploy.sh

deploy:
  provider: script
  script: ssh -i /tmp/travis-key root@test.mul.space "pwd && uname"
  on:
    branch: master